* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border-width: 0
}
 
header {
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
	width: 80%;
	float: right;
	margin: 20px 40px 10px 0px;
	padding-bottom: 10px;
}

br{
	clear: both;
}

header img{
	height: 80px;
	width: 80px;
	float: left;
}

#headerText{
	float: right;
}

h1{
	margin-bottom: 10px;
}

#sideColorGroup{
	clear: right;
	float: left;
	margin-left: 5%;
}

#sideColorGroup p{
	margin: 0 0 0 5%;
}

.colorBlock{
	width: 80px;
  	height: 80px;
  	margin: 20px 0 5px 5%;
}

.blueColor{
	background: #13b4ff;
}

.purpleColor{
	background: #ab3fdd;
}

.wineColor{
	background: #ae163e;
}

#mainImage{
	width: 80%;
	height: 400px;
	float: right;
	margin-right: 40px;
	margin-left: 0;
}

#featureWorkGroup{
	clear: both;
	margin-right: 40px;
	margin-top: 10px;
	float: right;
	width: 80%;
}

#featureWorkGroup p{
	margin-top: 10px;
	margin-bottom: 10px;
}

.featureImage{
	width: 32%;
	float: left;
}

#bottomImage1, #bottomImage2{
	margin-right: 2%;
}

.featureImage img{
	width: 100%;
	height: 300px;
}

.featureImage p{
	text-align: center;
}

a{
	display: block;
	text-align: center;
}











