#headerIcon {
	display: inline;
	position: absolute;
	top: 20;
	left: 50;
	padding: 0;
	margin: 0;
}

#titleGroup {
	display: inline-block;
	position: absolute;
	right: 50;
	top: 20;
	padding: 0;
	margin: 0;
}

header {
	display: block;
}

#main {
	display: block;
}