* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
 
#header {
	border-bottom: solid;
	border-bottom-width: 2;
	border-bottom-color: black;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30;
}

#headerText{
	float: right;
}

#mainImage{
	display: block;
	width: 70%;
	height: 300px;
	margin: 0 auto;
}

#featureWorkGroup{
	width: 70%;
	margin: 0 auto;
}

.featureImage{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}

#featureWorkGroup img{
	width: 20%;
	height: 40px;
	margin: 5%;
}





